@model CategoryVM
@{
    ViewData["Title"] = "AddCategory";
}

<form asp-action="AddCategory" asp-controller="Category" method="post">
    <div>

        <input type="text" asp-for="Category.CategoryName" placeholder="Lütfen kategori ismi giriniz" />

    </div>

    <div>
        
        <input type="text" asp-for="Category.Description" placeholder="Lütfen Acıklama giriniz" />
    </div>

    <button class="btn btn-primary">
        Ekle
    </button>
</form>

